[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.13"
